@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        @apply font-kumbh-sans;
    }

    img {
        @apply w-full h-full object-cover;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .custom-transition {
        @apply transition ease-in-out delay-150;
    }

    .container {
        @apply max-w-full;
    }

    header .col {
        @apply flex items-center;
    }

    .mobile-menu-list li:not(:last-child) {
        @apply mb-5;
    }

    .mobile-menu-list a {
        @apply font-bold block;
    }

    .desktop-menu a {
        @apply text-dark-grayish-blue;
    }

    .product-swiper-nav {
        @apply w-10 h-10 flex justify-center items-center rounded-full bg-white;
    }

    .title,
    .current-price {
        @apply text-very-dark-blue text-3xl font-bold lg:text-4xl;
    }

    .productThumbnailSwiper .swiper-slide,
    .lightboxThumbnails .swiper-slide {
        @apply rounded-lg overflow-hidden cursor-pointer;
    }

    .swiper-slide.swiper-slide-thumb-active {
        @apply border-2 border-orange relative;
    }

    .swiper-slide.swiper-slide-thumb-active::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .close-lightbox:hover path {
        fill: hsl(26, 100%, 55%);
    }

    .swiper-lightbox-control {
        @apply w-12 h-12 rounded-full flex justify-center items-center bg-white absolute top-1/2 -translate-y-1/2 z-30;
    }

    .swiper-lightbox-control:hover path {
        stroke: hsl(26, 100%, 55%);
    }

    @media (min-width: 1024px) {
        main {
            height: calc(100vh - 96px);
        }
    }
}